/* Liste des publications */
.publications-list {
  list-style-type: none;
  padding: 0;
}

.publication-item {
  background-color: #43925f;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.publication-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.publication-item h3 {
  margin: 0;
  font-size: 1.6em;
  font-weight: bold;
}

.publication-item p {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.5;
}

.publication-item button {
  background-color: #f3bf12;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.publication-item button:hover {
  background-color: #f6ad27;
  transform: scale(1.05);
}

.publication-item button:last-child {
  background-color: #e74c3c;
}

.publication-item button:last-child:hover {
  background-color: #c0392b;
}

/* Barre de recherche */
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  max-width: 400px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 1em;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #3b9c53;
  box-shadow: 0 0 8px rgba(47, 117, 76, 0.6);
}

.add-button {
  margin-right: 1750px;
  background-color: #32773b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-button:hover {
  background-color: #235229;
  transform: scale(1.1);
}

/* Formulaire */
.publication-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -125px;
  margin-bottom: 20px;
}

.publication-form input,
.publication-form textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.publication-form input:focus,
.publication-form textarea:focus {
  border-color: #2ecc71;
  outline: none;
}

.publication-form button {
  align-self: flex-start;
  background-color: #32773b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.publication-form button:hover {
  background-color: #32773b;
}
